*{
  box-sizing: border-box;
}

body{
  background-color: #333333;
  text-align: center;
  font-family: sans-serif;
}

/* Heading */

.head{ /*Section that contains the headers including the time divs*/
  height: 40%;
  margin-bottom: 80px;
  align-self: center;
}

.left{ /*A div inside the section that contains all the elements*/
  display:inline-block;
}

/* New Game div*/

.header{ /*Contains all the contents including the Heading, New Game and High Scores text*/
  color: green;
  font-size: 2rem;
  text-align: left;
}

.newGame{ /*Refers to the New Game text*/
  display: inline-block;
  margin-top: 0;
  cursor: pointer;
}

.font-head{ /*A class added to new game and high scores to increase its font size*/
  font-size: 1.7rem;
}

/* Time Div */

#info{ /*Div that contains time and difficulty*/
  font-size: 1.5rem;
  font-weight: bold;
  color:white;
  text-align: left;
  font-family: monospace;
}

.time{
  display: inline-block;
  width: 120px;
}

a{/*High scores*/
  text-decoration: none;
  cursor: pointer;
  color: green;
  margin-left: 30px;
}

/* Grid */

.grid-5x4{
  height: 28rem;
  width: 34rem;
  margin: 2rem auto;
  display: grid;
  grid-gap: 2px 2px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border: 1px solid;
  padding: 5px;
  border-radius: 2%;
  border-color: white;
}

.Start{
  padding: 120px 78px;
  position: absolute;
  font-size: 3rem;
  color: green;
  z-index: 4;
  cursor: pointer;
}

.Start2{ /*Contains styling for the countdown*/
  color: white;
  font-size : 20rem;
  margin : 0;
  padding : 35px 180px;
}

.box{/*Each cell of the grid*/
  position: relative;
  background-color: black;
  border-radius: 10%;
  transition: opacity 0.1s;
  opacity: 0;
  cursor: pointer;
}

.button{/*Contains styling for the div that is created in the js file which contains the numbers*/
  color: green;
  font-size: 2.8rem;
  font-weight: bold;
  padding: 1rem;
  background-color: black;
  border: none;
  border-radius: 10%;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  z-index: 3;
}

/*Optimization for phones*/

@media (max-width: 600px){

  .grid-5x4{
    height: 75vw;
    width: 90vw;
    font-size: 2rem;
    margin-left: 0px;
  }

  .Start{
    padding: 21vw 10vw;
    font-size: 8vw;
  }

  .Start2{
    padding : 0 25vw;
    font-size: 60vw;
  }

}
